controller:
  # HT-MPC Solver Type, lex vs SQP
  # HTMPCSQP, HTMPCSQPNEW, HTMPCLex
  type: "STMPC"
  task_num: 2     # number of tasks to take from the Stack of Tasks(sot)
                  # 1 for a single task, 2 for multi-task MPC or Hierarchical Task MPC 
  # MPC params
  dt: 0.1
  robot:
    time_discretization_dt: 0.1
  prediction_horizon: 1.0
  HT_MaxIntvl: 1
  ST_MaxIntvl: 1
  hierarchy_constraint_type: "HierarchicalTrackingConstraint"    # error, cost_value, cost_value_sum
  collision_constraint_type: "SignedDistanceConstraintCBF" # SignedDistanceConstraint or SignedDistanceConstraintCBF 
  ctrl_rate: 20 #hz
  cmd_vel_pub_rate: 100 # hz
  soft_cst: True
  penalize_du: False
  self_collision_avoidance_enabled: False
  sdf_collision_avoidance_enabled: False
  static_obstacles_collision_avoidance_enabled: False
  ee_upward_constraint_enabled: False
  cst_tol_schedule_enabled: False
  base_pose_tracking_enabled: True
  hierarchy_const_tol: 0.001
  self_collision_emergency_stop: True

  ee_upward_deviation_angle_max: 0.20    #rad, 0.26 rad ~ 15 degree
  
  collision_constraints_softend:
    self: False
    sdf: True
    static_obstacles: True
  
  collision_safety_margin:
    self: 0.25
    sdf: 0.25
    static_obstacles: 0.15

  # soft constraints parameters
  xu_soft:
    mu: 0.001
    zeta: 0.005
  collision_soft:
    self:
      mu: 0.0001
      zeta: 0.005
    sdf:
      mu: 0.0001
      zeta: 0.005
    static_obstacles:
      mu: 0.0001
      zeta: 0.005 
  
  collision_cbf_gamma: 0.9
  
  ee_upward_soft:
    mu: 0.001
    zeta: 0.01

  # weights for each cost function
  cost_params:
    EEPos3:
      Qk: 10.0
      P: 1.
    EEPos3BaseFrame:
      Qk: 3
      P: 1
    BasePos2:
      Qk: 10.
      P: 1
    BasePos3:
      Qk: 10.
      P: 1
    BasePoseSE2:
      Qk: 10.
      P: 1
    EEVel3:
      Qk: 5.
      P: 1
    BaseVel2:
      Qk: 5.
      P: 1
    BaseVel3:
      Qk: 5.
      P: 1
    Effort:
      Qqa: 0.
      Qqb: 0.
      Qva: 0.5
      Qvb: 0.5
      Qua: 0.1
      Qub: 0.1
      Qdua: 0.
      Qdub: 0.1
    Regularization:
      eps: 1.0e-06
    slack:
      z: 500  # linear term
      Z: 1    # quadratic term

  # line search parameters
  beta: 0.5
  alpha: 0.05

  # ACADOS solver option
  acados:
    name: "MM"
    cython:
      enabled: True
      action: "load"      # load or generate
    raise_exception_on_failure: False
    use_custom_hess: True
    use_terminal_cost: False
    ocp_solver_options:
      qp_solver: "FULL_CONDENSING_HPIPM"
      # FULL_CONDENSING_QPOASES
      # PARTIAL_CONDENSING_HPIPM, FULL_CONDENSING_QPOASES, FULL_CONDENSING_HPIPM,
      # PARTIAL_CONDENSING_QPDUNES, PARTIAL_CONDENSING_OSQP, FULL_CONDENSING_DAQP
      hessian_approx: "GAUSS_NEWTON"
      integrator_type: "IRK"
      print_level: 0
      nlp_solver_type: "SQP"  #SQP_RTI, SQP
      globalization: "MERIT_BACKTRACKING"
      qp_solver_iter_max: 100
      nlp_solver_tol_stat: 1.0e-03
      nlp_solver_tol_eq: 1.0e-02
      nlp_solver_tol_ineq: 1.0e-02
      nlp_solver_max_iter: 100
      qp_solver_warm_start: 2
      nlp_solver_ext_qp_res: 0
    slack_enabled:
      x: True
      x_e: True
      u: False
      h_0: True
      h: True
      h_e: False