controller:
  # HT-MPC Solver Type, lex vs SQP
  # HTMPCSQP, HTMPCSQPNEW, HTMPCLex
  type: "STMPC"
  task_num: 2     # number of tasks to take from the Stack of Tasks(sot)
                  # 1 for a single task, 2 for multi-task MPC or Hierarchical Task MPC 
  # MPC params
  dt: 0.1
  robot:
    time_discretization_dt: 0.1
  prediction_horizon: 1.0
  HT_MaxIntvl: 1
  ST_MaxIntvl: 1
  hierarchy_constraint_type: "HierarchicalTrackingConstraint"    # error, cost_value, cost_value_sum
  ctrl_rate: 10 #hz
  cmd_vel_pub_rate: 100 # hz
  cmd_vel_type: "interpolation"         # integration: publish vel by integrating from acc_bar
                                      # interpolation: publish vel by interpolating vel_bar
  soft_cst: True
  penalize_du: False
  self_collision_avoidance_enabled: False
  sdf_collision_avoidance_enabled: False
  static_obstacles_collision_avoidance_enabled: False
  ee_upward_constraint_enabled: False
  cst_tol_schedule_enabled: False
  base_pose_tracking_enabled: True
  hierarchy_const_tol: 
    BasePoseSE2: [0.01, 0.01, 0.01]
    EEPos3: [0.01, 0.01, 0.01]
    EEPose: [0.01, 0.01, 0.01, 0.01, 0.01, 0.05]
    EEPoseBaseFrame: [0.01, 0.01, 0.01, 0.01, 0.01, 0.1]

  self_collision_emergency_stop: True

  ee_upward_deviation_angle_max: 0.20    #rad, 0.26 rad ~ 15 degree
  
  collision_constraint_type: 
    self: "SignedDistanceConstraint" # SignedDistanceConstraint or SignedDistanceConstraintCBF 
    sdf: "SignedDistanceConstraintCBF"
    static_obstacles: "SignedDistanceConstraint"

  collision_constraints_softend:
    self: False
    sdf: False
    static_obstacles: False
  
  collision_safety_margin:
    self: 0.25
    sdf: 0.25
    static_obstacles: 0.15

  # soft constraints parameters
  xu_soft:
    mu: 0.001
    zeta: 0.005
  collision_soft:
    self:
      mu: 0.0001
      zeta: 0.005
    sdf:
      mu: 0.0001
      zeta: 0.005
    static_obstacles:
      mu: 0.0001
      zeta: 0.005 
  
  collision_cbf_gamma:
    sdf: 0.3
    self: 0.9
    static_obstacles: 0.9

  ee_upward_soft:
    mu: 0.001
    zeta: 0.01

  # weights for each cost function
  cost_params:
    EEPos3:
      Qk: [3, 3, 3]
      P: [1, 1, 1]
    EEPose:
      Qk: [3, 3, 3, 3, 3, 3]
      P: [1, 1, 1, 1, 1, 1]
    EEPos3BaseFrame:
      Qk: [1, 1, 1]
      P: [1, 1, 1]
    EEPoseBaseFrame:
      Qk: [3, 3, 3, 3, 3, 3]
      P: [1, 1, 1, 1, 1, 1]
    BasePos2:
      Qk: [3, 3]
      P: [1, 1]
    BasePos3:
      Qk: [3, 3, 3]
      P: [1, 1, 1]
    BasePoseSE2:
      Qk: [3, 3, 3]
      P: [1, 1, 1]
    EEVel3:
      Qk: [1, 1, 1]
      P: [1, 1, 1]
    BaseVel2:
      Qk: [1, 1]
      P: [1, 1]
    BaseVel3:
      Qk: [1, 1, 1]
      P: [1, 1, 1]
    Effort:
      Qqa: [0, 0, 0, 0, 0, 0]
      Qqb: [0, 0, 0]
      Qva: [0.01, 0.01, 0.01, 0.01, 0.01, 0.01]
      Qvb: [0.01, 0.01, 0.01]
      Qua: [0.01, 0.01, 0.01, 0.01, 0.01, 0.01]
      Qub: [0.01, 0.01, 0.01]
      Qdua: [0, 0, 0, 0, 0, 0]
      Qdub: [0.1, 0.1, 0.1]
    Regularization:
      eps: 1.0e-06
    slack:
      z: 10  # linear term
      Z: 1    # quadratic term

  # line search parameters
  beta: 0.5
  alpha: 0.05

  # ACADOS solver option
  acados:
    name: "MM"
    cython:
      enabled: True
      action: "load"      # load or generate
    raise_exception_on_failure: False
    use_custom_hess: True
    use_terminal_cost: False
    ocp_solver_options:
      qp_solver: "FULL_CONDENSING_HPIPM"
      # FULL_CONDENSING_QPOASES
      # PARTIAL_CONDENSING_HPIPM, FULL_CONDENSING_QPOASES, FULL_CONDENSING_HPIPM,
      # PARTIAL_CONDENSING_QPDUNES, PARTIAL_CONDENSING_OSQP, FULL_CONDENSING_DAQP
      hessian_approx: "GAUSS_NEWTON"
      integrator_type: "IRK"
      print_level: 0
      nlp_solver_type: "SQP_RTI"  #SQP_RTI, SQP
      globalization: "MERIT_BACKTRACKING"
      qp_solver_iter_max: 100
      nlp_solver_tol_comp: 1.e-06
      nlp_solver_tol_stat: 1.0e-03
      nlp_solver_tol_eq: 1.0e-02
      nlp_solver_tol_ineq: 1.0e-02
      nlp_solver_max_iter: 100
      qp_solver_warm_start: 2
      nlp_solver_ext_qp_res: 0
    slack_enabled:
      x: True
      x_e: True
      u: False
      h_0: True
      h: True
      h_e: True
