simulation:
  timestep: 0.03
  duration: 25.
  gravity: [0, 0, -9.81]

  robot:
    home: [0.0, 0.0, 0, 1.5708, -0.7854,  1.5708, -0.7854,  1.5708, 1.3100] # default
    tool_vicon_name: ThingContainer

  gui: False

  static_obstacles:
    enabled: False

  dynamic_obstacles:
    enabled: False

include:
  - package: "mm_run"
    path: "config/robot/thing.yaml"
