<?xml version="1.0" encoding="utf-8"?>
<robot name="coverage" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- Set false to not include <coverage> blocks, which is useful if we just want to visualize in a simulator. -->

  <xacro:property name="material" value="seethrough"/>

  <xacro:macro name="coverage_link_sphere" params="name radius">
    <link name="${name}">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <sphere radius="${radius}"/>
        </geometry>
        <material name="coverage_ball_color">
          <color rgba="1.0 0.0 0.0 0.25"/>
        </material>
      </visual>
    </link>
  </xacro:macro>


  <!-- Coverage sphere for the forearm -->
  <xacro:coverage_link_sphere name="ur10_arm_forearm_coverage_link" radius="0.08"/>
  <joint name="ur10_arm_forearm_coverage_joint_5" type="fixed">
    <origin rpy="0 1.5708 0" xyz="-0.125 0 0.06"/>
    <parent link="ur10_arm_forearm_link"/>
    <child link="ur10_arm_forearm_coverage_link"/>
  </joint>

  <xacro:coverage_link_sphere name="ur10_arm_forearm_coverage_link_1" radius="0.08"/>
  <joint name="ur10_arm_forearm_coverage_joint_1" type="fixed">
    <origin rpy="0 1.5708 0" xyz="-0.2 0 0.06"/>
    <parent link="ur10_arm_forearm_link"/>
    <child link="ur10_arm_forearm_coverage_link_1"/>
  </joint>

  <xacro:coverage_link_sphere name="ur10_arm_forearm_coverage_link_2" radius="0.08"/>
  <joint name="ur10_arm_forearm_coverage_sphere_joint_2" type="fixed">
    <origin rpy="0 1.5708 0" xyz="-0.275 0 0.06"/>
    <parent link="ur10_arm_forearm_link"/>
    <child link="ur10_arm_forearm_coverage_link_2"/>
  </joint>

  <xacro:coverage_link_sphere name="ur10_arm_forearm_coverage_link_3" radius="0.08"/>
  <joint name="ur10_arm_forearm_coverage_sphere_joint_3" type="fixed">
    <origin rpy="0 1.5708 0" xyz="-0.35 0 0.06"/>
    <parent link="ur10_arm_forearm_link"/>
    <child link="ur10_arm_forearm_coverage_link_3"/>
  </joint>

  <xacro:coverage_link_sphere name="ur10_arm_forearm_coverage_link_4" radius="0.08"/>
  <joint name="ur10_arm_forearm_coverage_sphere_joint_4" type="fixed">
    <origin rpy="0 1.5708 0" xyz="-0.425 0 0.06"/>
    <parent link="ur10_arm_forearm_link"/>
    <child link="ur10_arm_forearm_coverage_link_4"/>
  </joint>

  <xacro:coverage_link_sphere name="ur10_arm_forearm_coverage_link_5" radius="0.08"/>
  <joint name="ur10_arm_forearm_coverage_sphere_joint_5" type="fixed">
    <origin rpy="0 1.5708 0" xyz="-0.5 0 0.06"/>
    <parent link="ur10_arm_forearm_link"/>
    <child link="ur10_arm_forearm_coverage_link_5"/>
  </joint>

  <!-- Coverage sphere for the wrist -->
  <xacro:coverage_link_sphere name="ur10_arm_wrist1_coverage_link" radius="0.08"/>
  <joint name="ur10_arm_wrist1_coverage_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 -0.00"/>
    <parent link="ur10_arm_wrist_1_link"/>
    <child link="ur10_arm_wrist1_coverage_link"/>
  </joint>

  <xacro:coverage_link_sphere name="ur10_arm_wrist1_coverage_link_1" radius="0.08"/>
  <joint name="ur10_arm_wrist1_coverage_joint_1" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 -0.11"/>
    <parent link="ur10_arm_wrist_1_link"/>
    <child link="ur10_arm_wrist1_coverage_link_1"/>
  </joint>

  <xacro:coverage_link_sphere name="ur10_arm_wrist2_coverage_link" radius="0.08"/>
  <joint name="ur10_arm_wrist2_coverage_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.00"/>
    <parent link="ur10_arm_wrist_2_link"/>
    <child link="ur10_arm_wrist2_coverage_link"/>
  </joint>

  <xacro:coverage_link_sphere name="ur10_arm_wrist3_coverage_link" radius="0.08"/>
  <joint name="ur10_arm_wrist3_coverage_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="ur10_arm_wrist_3_link"/>
    <child link="ur10_arm_wrist3_coverage_link"/>
  </joint>

  <!-- Coverage sphere for the gripper -->
  <xacro:coverage_link_sphere name="gripper_coverage_link" radius="0.08"/>
  <joint name="gripper_coverage_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.07"/>
    <parent link="gripper"/>
    <child link="gripper_coverage_link"/>
  </joint>

  <xacro:coverage_link_sphere name="gripper_coverage_link_1" radius="0.08"/>
  <joint name="gripper_coverage_joint_1" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.15"/>
    <parent link="gripper"/>
    <child link="gripper_coverage_link_1"/>
  </joint>

  <xacro:coverage_link_sphere name="gripper_coverage_link_2" radius="0.08"/>
  <joint name="gripper_coverage_joint_2" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.23"/>
    <parent link="gripper"/>
    <child link="gripper_coverage_link_2"/>
  </joint>

</robot>
