simulation:
  timestep: 0.01
  duration: 25.
  gravity: [0, 0, -9.81]

  robot:
    # home: [0, 0, 0, 0.5pi, -0.75pi, -0.5pi, -0.25pi, -0.5pi, 0.5pi]  # upright
    home: [ 0., -0, 0., 0.5pi, -0.25pi, 0.5pi, -0.25pi, 0.5pi, 0.417pi ]  # standard

  pybullet_connection: "DIRECT"  # "Direct" or "GUI"

  static_obstacles:
    enabled: False

  dynamic_obstacles:
    enabled: False

  # Define virtual cameras to capture static shots of the scene or as a viewpoint
  # for a video. Examples:
  # 1. camera defined by (absolute) target and camera position;
  # 2. camera defined by a target and camera position *relative* to EE initial
  #    position;
  # 3. camera defined by a target position and distance and orientation of the
  #    camera (roll, pitch, yaw in degrees)
  cameras:
    example1:
      target: [4, 0, 0]
      position: [8, -3, 4]
      resolution:
        width: 1920
        height: 1080
    example2:
      relative_target: [0, 0, 0.1]
      relative_position: [0.4, -1, 0.6]
    example3:
      target: [1.28, 0.045, 0.647]
      distance: 1.8
      roll: 0
      pitch: -29
      yaw: 147.6

  # Define videos to be captured during the simulation
  video:
    save_frames: true
    dir: "/home/tracy/Videos/MM-HTMPC/"
    timestep: 0.060
    views:
      -
        camera: example1
        name: view1

planner:
  sot_type: "SoTStatic"
  tasks:
    - name: "Base Pos 1"
      planner_type: "BaseSingleWaypoint"
      target_pos: [2.0, 0.]
      tracking_err_tol: 0.25
#    - name: "EE Pos 1"
#      planner_type: "EESimplePlanner"
#      target_pos: [2.0, 1., 1.]
#      hold_period: 3.
#      tracking_err_tol: 0.02
#    - name: "Base Pos 2"
#      planner_type: "BaseSingleWaypoint"
#      target_pos: [4., 0.]
#      tracking_err_tol: 0.3
#    - name: "EE Pos 2"
#      planner_type: "EESimplePlanner"
#      target_pos: [4., 1., 1.]
#      hold_period: 3.
#      tracking_err_tol: 0.3
#    - name: "Base Pos 3"
#      planner_type: "BaseSingleWaypoint"
#      target_pos: [6., 0.]
#      tracking_err_tol: 0.25
#    - name: "EE Pos 3"
#      planner_type: "EESimplePlanner"
#      target_pos: [6., 1., 1.]
#      hold_period: 3.
#      tracking_err_tol: 0.02

controller:
  type: "SQP_TOL_SCHEDULE"
  HT_MaxIntvl: 1
  ST_MaxIntvl: 1
  rate: 50 #hz
  slack: False
  soft_cst: True
  xu_soft:
    mu: 0.00001
    zeta: 0.00008
  cost_params:
    EEPos3:
      Qk: 2.
      P: 10.
    BasePos2:
      Qk: 2.
      P: 10.
    Effort:
      Qqa: 0.
      Qqb: 0.
      Qva: 0.005
      Qvb: 0.005
      Qua: 0.003
      Qub: 0.05

include:
  - package: "mmseq_run"
    path: "config/robot/thing.yaml"
  - package: "mmseq_run"
    path: "config/controller/HTMPC.yaml"

logging:
  log_dir: "/home/tracy/Documents/PhD/data/debug"
  log_level: 4 # 0 - not set, 10 - debug, 20 - info

