<?xml version="1.0"?>
<!-- Launches the ROS-based simulation, which uses the real mpc_ros nodes talking to a PyBullet sim environment. -->

<launch>
  <arg name="config"/>
  <arg name="isaac-venv" default="$(env ISAACSIM_PYTHON_EXE_1)"/>
  <arg name="logging_sub_folder"  default="default" doc="save data to a sub folder if set"/>

  <param name="/use_sim_time" value="True" type="bool"/>

  <!-- Simulation -->
  <node pkg="mm_run" type="isaac_sim_ros.py" name="simulation_isaac" launch-prefix = "$(arg isaac-venv)" args="--config $(arg config) --logging_sub_folder $(arg logging_sub_folder)" output="screen" required="true"/>

</launch>
