planner:
  sot_type: "SoTStatic"
  tasks:
  - frame_id: base
    name: Base Position
    planner_type: BasePoseTrajectoryLine
    initial_pose: [0, 0, 0]      # x, y, yaw
    target_pose: [2.5, 0.4, 0]   # x, y, yaw
    cruise_speed: 1.0
    yaw_speed: 0.5               # rad/s
    tracking_err_tol: 0.2
  - frame_id: EE
    name: EE Pose
    planner_type: EEPoseSE3Waypoint
    target_pose: [1.5, 0.4, 1.0, 3.14, 0, 0]  # x, y, z, roll, pitch, yaw - EE pointing down
    hold_period: 1.0
    tracking_err_tol: 0.05

include:
  - package: "mm_run"
    path: "config/robot/thing.yaml"
  - package: "mm_run"
    path: "config/controller/MPC.yaml"
  - package: "mm_run"
    path: "config/sim/simulation.yaml"
  - package: "mm_run"
    path: "config/scene/empty.yaml"
  - package: "mm_run"
    path: "config/map/SDF3D.yaml"

logging:
  log_dir: "simple_experiment"
  log_level: 10 # 0 - not set, 10 - debug, 20 - info
