controller:
  dt: 0.3
  prediction_horizon: 3
  robot:
    time_discretization_dt: 0.3
  collision_cbf_gamma:
    sdf: 0.9
  cost_params:
    EEPos3:
      Qk: [3, 3, 3]
      P: [1, 1, 1]
    EEPos3BaseFrame:
      Qk: [0.3, 0.3, 0.3]
      P: [1, 1, 1]
    EEPoseBaseFrame:
      Qk: [0.3, 0.3, 0.3, 0.8, 0.8, 0.2]
      P: [1, 1, 1, 1, 1, 1]
    BasePos2:
      Qk: [3, 3]
      P: [1, 1]
    BasePos3:
      Qk: [3, 3, 3]
      P: [1, 1, 1]
    BasePoseSE2:
      Qk: [3, 3, 0.25]
      P: [1, 1, 1]
    EEVel3:
      Qk: [1, 1, 1]
      P: [1, 1, 1]
    BaseVel2:
      Qk: [1, 1]
      P: [1, 1]
    BaseVel3:
      Qk: [0.3, 0.3, 0.3]
      P: [1, 1, 1]
    Effort:
      Qqa: [0, 0, 0, 0, 0, 0]
      Qqb: [0, 0, 0]
      Qva: [0.01, 0.01, 0.01, 0.01, 0.01, 0.01]
      Qvb: [0.01, 0.01, 0.05]
      Qua: [0.05, 0.05, 0.05, 0.05, 0.05, 0.05]
      Qub: [1.0, 1.0, 0.5]
      Qdua: [0, 0, 0, 0, 0, 0]
      Qdub: [0.1, 0.1, 0.1]
    Regularization:
      eps: 1.0e-06
    slack:
      z: 50  # linear term
      Z: 1    # quadratic term
