planner:
  use_joy: True
  sot_type: "SoTStatic"
  tasks:
  - frame_id: base
    name: Base Position
    planner_type: BasePoseTrajectoryLine
    initial_pose: [0,0,0]
    target_pose:
    - 10
    - 0.0
    - 0.0
    cruise_speed: 0.75
    yaw_speed: 0.5
    tracking_err_tol: 0.2
simulation:
  duration: 100
  robot:
    #home: [0., -0.2, 0, 0.5pi, -0.75pi, 0.75pi, -0.25pi, 0.5pi, 0.417pi]  # standard
    home: [-0, 0, -0., 0.75pi, -0.5pi, 0.5pi, -0.25pi, 0.6pi, 0.417pi]     # upright

controller:
  # robot parameters
  robot:
    limits:
      input_rate:
        lower: [-10, -10, -10, -80, -80, -80, -80, -80, -80]
        upper: [10, 10, 10, 80, 80, 80, 80, 80, 80]
      input:
        lower: [ -1., -1.0, -0.75, -1.8, -1.8, -2.0, -1.6, -1.6, -1.6 ]
        upper: [ 1.0, 1.0, 0.75, 1.8, 1.8, 2.0, 1.6, 1.6, 1.6 ]
      state:
        lower: [ -10, -10, -2.pi, -0.pi, -1pi, -1pi, -1pi, -1pi, -1pi,
                 -1, -1, -0.4, -2, -2, -3, -3, -3, -3 ]
        upper: [ 10, 10, 2pi, 1.pi, 0.2, 1pi, 1pi, 1pi, 1pi,
                 1, 1, 0.4, 2, 2, 3, 3, 3, 3 ]
  collision_constraint_type: 
    sdf: "SignedDistanceConstraintCBF" # SignedDistanceConstraint or SignedDistanceConstraintCBF 
  collision_cbf_gamma:
    sdf: 0.9
  acados:
    name: MMSLAMCtrl_SemiStaticCBF
  # local map params
  map:
    default_val: 1.8
    map_coverage: [8, 8, 0.4]
  collision_safety_margin:
    sdf: 0.

include:
  - package: "mmseq_run"
    path: "config/robot/thing.yaml"
  - package: "mmseq_run"
    path: "config/controller/MPC.yaml"
  - package: "mmseq_run"
    path: "config/controller/NavMPC.yaml"
  - package: "mmseq_run"
    path: "config/sim/isaac_sim.yaml"
  - package: "mmseq_run"
    path: "config/map/SDF3D.yaml"
  - package: "mmseq_run"
    path: "config/scene/single_object.yaml"
logging:
  log_dir: "$MOBILE_MANIPULATION_CENTRAL_BAG_DIR/ral25/semi_static_reactive/"
  log_level: 10 # 0 - not set, 10 - debug, 20 - info
