planner:
  use_joy: True
  sot_type: "SoTStatic"
  tasks:
  - frame_id: base
    name: Base Position
    planner_type: BasePoseTrajectoryLine
    initial_pose: [0,0,0]
    target_pose:
    - 10
    - 0.0
    - 0.0
    cruise_speed: 1.0
    yaw_speed: 0.5
    tracking_err_tol: 0.2
  - frame_id: base_link
    name: ee_pose_baseframe
    planner_type: EEPoseSE3Waypoint
    target_pose: [1.0, -0.8, 0.7, 1.57, 0, 1.57]
    hold_period: 4
    tracking_err_tol: 0.1
simulation:
  duration: 100
  robot:
    #home: [0., -0.2, 0, 0.5pi, -0.75pi, 0.75pi, -0.25pi, 0.5pi, 0.417pi]  # standard
    home: [-0, 0.7, -0., 0.24590115249156952, -0.7108174562454224, 1.4452999830245972, -0.7951079607009888, 0.22634093463420868, -0.25]     # upright

controller:
  collision_safety_margin:
    sdf: 0.
  # robot parameters
  robot:
    limits:
      input_rate:
        lower: [-10, -10, -10, -80, -80, -80, -80, -80, -80]
        upper: [10, 10, 10, 80, 80, 80, 80, 80, 80]
      input:
        lower: [ -1., -1.0, -0.75, -1.8, -1.8, -2.0, -1.6, -1.6, -1.6 ]
        upper: [ 1.0, 1.0, 0.75, 1.8, 1.8, 2.0, 1.6, 1.6, 1.6 ]
      state:
        lower: [ -10, -10, -2.pi, -0.pi, -1pi, -1pi, -1pi, -1pi, -1pi,
                 -1, -1, -0.4, -2, -2, -3, -3, -3, -3 ]
        upper: [ 10, 10, 2pi, 1.pi, 0.2, 1pi, 1pi, 1pi, 1pi,
                 1, 1, 0.4, 2, 2, 3, 3, 3, 3 ]
  cost_params:
    EEPos3:
      Qk: [3, 3, 3]
      P: [1, 1, 1]
    EEPos3BaseFrame:
      Qk: [0.3, 0.3, 0.3]
      P: [1, 1, 1]
    EEPoseBaseFrame:
      Qk: [8, 8, 0.075, 0.8, 0.8, 0.2]
      P: [1, 1, 1, 1, 1, 1]
    BasePos2:
      Qk: [3, 3]
      P: [1, 1]
    BasePos3:
      Qk: [3, 3, 3]
      P: [1, 1, 1]
    BasePoseSE2:
      Qk: [1, 1, 3]
      P: [1, 1, 1]
    EEVel3:
      Qk: [1, 1, 1]
      P: [1, 1, 1]
    BaseVel2:
      Qk: [1, 1]
      P: [1, 1]
    BaseVel3:
      Qk: [0.3, 0.3, 0.3]
      P: [1, 1, 1]
    Effort:
      Qqa: [0, 0, 0, 0, 0, 0]
      Qqb: [0, 0, 0]
      Qva: [0.01, 0.01, 0.01, 0.01, 0.01, 0.01]
      Qvb: [0.01, 0.01, 0.05]
      Qua: [0.5, 0.005, 0.005, 0.005, 0.2, 0.5]
      Qub: [2.0, 2.0, 1.0]
      Qdua: [0, 0, 0, 0, 0, 0]
      Qdub: [0.1, 0.1, 0.1]
    Regularization:
      eps: 1.0e-06
    slack:
      z: 50  # linear term
      Z: 1    # quadratic term
  acados:
    name: MMSLAMCtrl_SemiStatic_ArmCBF
  # local map params
  map:
    default_val: 1.8
    map_coverage: [4, 4, 1.0]
  collision_constraint_type: 
    sdf: "SignedDistanceConstraintCBF" # SignedDistanceConstraint or SignedDistanceConstraintCBF 
  collision_cbf_gamma:
    sdf: 1.3

include:
  - package: "mmseq_run"
    path: "config/robot/thing.yaml"
  - package: "mmseq_run"
    path: "config/controller/MPC.yaml"
  - package: "mmseq_run"
    path: "config/controller/NavMPC.yaml"
  - package: "mmseq_run"
    path: "config/sim/isaac_sim.yaml"
  - package: "mmseq_run"
    path: "config/map/SDF3D.yaml"
  - package: "mmseq_run"
    path: "config/scene/single_object.yaml"
logging:
  log_dir: "$MOBILE_MANIPULATION_CENTRAL_BAG_DIR/ral25/semi_static_reactive_wholebody/"
  log_level: 10 # 0 - not set, 10 - debug, 20 - info
