<?xml version="1.0" ?>
<robot name="robot">
  <material name="red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>
  <material name="seethrough">
    <color rgba="1.0 0.0 0.0 0.25"/>
  </material>
  <link name="restaurant_base_link"/>
  <link name="chair_1">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!--            <mesh filename="package://mmseq_assets/scenes/meshes/model.dae"/>-->
        <mesh filename="file:///home/tracy/Projects/mm_catkin_ws/src/mm_sequential_tasks/mmseq_assets/scenes/meshes/model.dae"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/tracy/Projects/mm_catkin_ws/src/mm_sequential_tasks/mmseq_assets/scenes/meshes/model.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="chair_1_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-3. -3. 0."/>
    <parent link="restaurant_base_link"/>
    <child link="chair_1"/>
  </joint>
  <link name="chair_1_collision_link">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="1." radius="0.25"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="1." radius="0.25"/>
      </geometry>
      <material name="seethrough"/>
    </visual>
  </link>
  <joint name="chair_1_collision_link_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.175 0.175 0.5"/>
    <parent link="chair_1"/>
    <child link="chair_1_collision_link"/>
  </joint>
  <link name="chair_2">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!--            <mesh filename="package://mmseq_assets/scenes/meshes/model.dae"/>-->
        <mesh filename="file:///home/tracy/Projects/mm_catkin_ws/src/mm_sequential_tasks/mmseq_assets/scenes/meshes/model.dae"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/tracy/Projects/mm_catkin_ws/src/mm_sequential_tasks/mmseq_assets/scenes/meshes/model.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="chair_2_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-3. 0. 0."/>
    <parent link="restaurant_base_link"/>
    <child link="chair_2"/>
  </joint>
  <link name="chair_2_collision_link">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="1." radius="0.25"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="1." radius="0.25"/>
      </geometry>
      <material name="seethrough"/>
    </visual>
  </link>
  <joint name="chair_2_collision_link_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.175 0.175 0.5"/>
    <parent link="chair_2"/>
    <child link="chair_2_collision_link"/>
  </joint>
  <link name="chair_3">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!--            <mesh filename="package://mmseq_assets/scenes/meshes/model.dae"/>-->
        <mesh filename="file:///home/tracy/Projects/mm_catkin_ws/src/mm_sequential_tasks/mmseq_assets/scenes/meshes/model.dae"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/tracy/Projects/mm_catkin_ws/src/mm_sequential_tasks/mmseq_assets/scenes/meshes/model.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="chair_3_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-3. 3. 0."/>
    <parent link="restaurant_base_link"/>
    <child link="chair_3"/>
  </joint>
  <link name="chair_3_collision_link">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="1." radius="0.25"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="1." radius="0.25"/>
      </geometry>
      <material name="seethrough"/>
    </visual>
  </link>
  <joint name="chair_3_collision_link_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.175 0.175 0.5"/>
    <parent link="chair_3"/>
    <child link="chair_3_collision_link"/>
  </joint>
  <link name="chair_4">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!--            <mesh filename="package://mmseq_assets/scenes/meshes/model.dae"/>-->
        <mesh filename="file:///home/tracy/Projects/mm_catkin_ws/src/mm_sequential_tasks/mmseq_assets/scenes/meshes/model.dae"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/tracy/Projects/mm_catkin_ws/src/mm_sequential_tasks/mmseq_assets/scenes/meshes/model.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="chair_4_joint" type="fixed">
    <origin rpy="0 0 0" xyz="3. -3. 0."/>
    <parent link="restaurant_base_link"/>
    <child link="chair_4"/>
  </joint>
  <link name="chair_4_collision_link">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="1." radius="0.25"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="1." radius="0.25"/>
      </geometry>
      <material name="seethrough"/>
    </visual>
  </link>
  <joint name="chair_4_collision_link_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.175 0.175 0.5"/>
    <parent link="chair_4"/>
    <child link="chair_4_collision_link"/>
  </joint>
  <link name="chair_5">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!--            <mesh filename="package://mmseq_assets/scenes/meshes/model.dae"/>-->
        <mesh filename="file:///home/tracy/Projects/mm_catkin_ws/src/mm_sequential_tasks/mmseq_assets/scenes/meshes/model.dae"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/tracy/Projects/mm_catkin_ws/src/mm_sequential_tasks/mmseq_assets/scenes/meshes/model.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="chair_5_joint" type="fixed">
    <origin rpy="0 0 0" xyz="3. 0. 0."/>
    <parent link="restaurant_base_link"/>
    <child link="chair_5"/>
  </joint>
  <link name="chair_5_collision_link">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="1." radius="0.25"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="1." radius="0.25"/>
      </geometry>
      <material name="seethrough"/>
    </visual>
  </link>
  <joint name="chair_5_collision_link_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.175 0.175 0.5"/>
    <parent link="chair_5"/>
    <child link="chair_5_collision_link"/>
  </joint>
  <link name="chair_6">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!--            <mesh filename="package://mmseq_assets/scenes/meshes/model.dae"/>-->
        <mesh filename="file:///home/tracy/Projects/mm_catkin_ws/src/mm_sequential_tasks/mmseq_assets/scenes/meshes/model.dae"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/tracy/Projects/mm_catkin_ws/src/mm_sequential_tasks/mmseq_assets/scenes/meshes/model.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="chair_6_joint" type="fixed">
    <origin rpy="0 0 0" xyz="3. 3. 0."/>
    <parent link="restaurant_base_link"/>
    <child link="chair_6"/>
  </joint>
  <link name="chair_6_collision_link">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="1." radius="0.25"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="1." radius="0.25"/>
      </geometry>
      <material name="seethrough"/>
    </visual>
  </link>
  <joint name="chair_6_collision_link_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.175 0.175 0.5"/>
    <parent link="chair_6"/>
    <child link="chair_6_collision_link"/>
  </joint>
</robot>
