<?xml version="1.0"?>
<!-- Launches the ROS-based simulation, which uses the real mpc_ros nodes talking to a PyBullet sim environment. -->

<launch>
  <arg name="config"/>
  <arg name="ctrl_config" default="default" doc="alternative controller config overwriting the one in config"/>
  <arg name="planner_config" default="default" doc="alternative controller config overwriting the one in config"/>
  <arg name="use_mpc" default="false" doc="use mpc as controller"/>
  <arg name="logging_sub_folder"  default="default" doc="save data to a sub folder if set"/>
  <arg name="isaac-venv" default="$(env ISAACSIM_PYTHON_EXE_1)" />

  <!-- Simulation -->
  <include file="$(find mmseq_run)/launch/isaac_sim.launch">
    <arg name="config" value="$(arg config)" />
    <arg name="isaac-venv" value="$(arg isaac-venv)" />
    <arg name="logging_sub_folder" value="$(arg logging_sub_folder)" />
  </include>
  
  <!-- Controller -->
  <include file="$(find mmseq_run)/launch/controller.launch" pass_all_args="true"/>

  <!-- Robot Model -->
  <include file="$(find mmseq_run)/launch/thing_description.launch">
    <!-- <arg name="visual_params" value="$(find ur_description)/config/ur10/visual_parameters.yaml" /> -->
  </include>
</launch>